.App {
  text-align: left; 
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: center;
  align-items: center; 
}

body {
  background-image: url('NOMNOM.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App-link {
  color: #007bff; 
  text-decoration: underline; 
}

.button-post, .button-signout, .button-account {
  background-color: #228B22; 
  color: white; 
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-post:hover, .button-signout:hover, .button-account:hover {
  background-color: #006400; 
}

.form-group input:focus, .form-group textarea:focus {
  border-color: #4CAF50;
}

.search-container button {
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.search-container button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .search-container form {
    flex-direction: column
  }
  
  .button-container {
    padding: 5px 0; 
  }
}

.save-button:hover {
  background-color: #45a049; 
}