.App {
  text-align: center; 
}

/* Creates a black box at bottom of screen that contains the buttons, also stayed fixed at bottom when scrolling*/
.App-header {
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  background: #000;
  padding: 10px 0; 
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  z-index: 100; 
}

/* Navigation buttons with evenly spaced links */
.nav {
  display: flex;
  justify-content: center;
  gap: 10px; 
}

body {
  margin: 0; 
  min-height: 100vh; 
  overflow: auto;
}

/* Make links blue with underlines*/
.App-link {
  color: #007bff; 
  text-decoration: underline; 
}

/* Styling the buttons with green background and white text */
.button-post, .button-signout, .button-account {
  background-color: #228B22; 
  color: white; 
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Makes the button appear darker when hovering over*/
.button-post:hover, .button-signout:hover, .button-account:hover {
  background-color: #006400; 
}

.form-group input:focus, .form-group textarea:focus {
  border-color: #4CAF50;
}

/* Creates the search bar*/
.search-container {
  display: flex;           
  align-items: center;    
  gap: 10px;               
}

/* Make search bar fill up space */
.search-container input[type="text"], .search-container select {
  flex-grow: 1;          
}

.search-container nav {
  margin-left: auto;    
}

.save-button:hover {
  background-color: #45a049; 
}